$primary: #2972ab;
$secondary: #164479;
$body-bg: #f8f9fa;
$brown: #c8785c;
$yellow: #fed049;
$gray-400: #ced4da;
$enable-rounded: false;
$enable-caret: false;
$form-feedback-valid-color: $gray-400;
$enable-gradients: false;
@import "node_modules/bootstrap/scss/bootstrap";
