<div class="jumbotron">
    <h1>About</h1>
    <div layout="column" layout-padding="" ng-cloak="" class="inputdemoIcons">

        <br>
        <qr-scanner width="400" height="300" ng-success="onSuccess(data)" ng-error="onError(error)" />

        <!-- <md-content class="md-no-momentum">
            <md-input-container class="md-icon-float md-block">
                <label>Enter Socket Id</label>
                <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                <input ng-model="form.socketid" type="text">
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label>Enter Random String</label>
                <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                <input ng-model="form.randomString" type="text">
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="scanQrCode()">Scan QR Code</md-button>
        </md-content> -->
    </div>
</div>